 
body {
font-family: Arial, Helvetica, sans-serif;
background-color: #f0f0f0;
margin:20px;
}

button {
  background-color: rgb(171, 228, 230);
  border-radius: 10px; 
  border:1px solid grey;
  padding:5px;
  margin:10px;
  width:200px;
}
/* Style the header */
.header {
    background-color: #65818a;
    border: 0px solid #FFFFFF;
    box-shadow: 3px 1px 0px #24242444;
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color:#ffffff;
}

/* Content (grid, graphs, sliders) */
.content {
  text-align: center;
  box-shadow: 3px 1px 0px #24242444;
  /*border-bottom: 1px dashed #88888844;*/
  background-color: #fbfbfb;
  padding: 10px;
}

/* Style the footer */
.footer {
  background-color: #fbfbfb;
  border: 0px solid #FFFFFF;
  box-shadow: 3px 1px 0px #24242444;
  border-radius: 0px 0px 15px 15px;
  padding: 10px;
  text-align: center;
  font-size: 8px;
}

.grid-holder{
  margin: 10px;
  display: inline-block;
}

.graph-holder{
  margin: 10px;    
  display: inline-block;    
  padding:10px;
}



